In [1]:
import os
import nltk
import nltk.corpus
import pandas as pd
from nltk.tokenize import word_tokenize
import re
import regex
from nltk.chunk import RegexpParser

In [2]:
dataset = pd.read_csv("test_data.csv")
dataset.head()

                                               input
0  I believe they will master Japanese soon becau...
1                              I am looking for it .
2  Apple is a round fruit with smooth and colorfu...
3                              Let It Will Be Push .
4                  I rode on this ship from Sendai .

In [3]:
len(dataset)

9972

In [4]:
df = pd.read_csv("train_data.csv")
df.head()

                                               input  labels
0    I am reading score of Mahler is Symphony No . .       0
1  I am not interested in cars or electric applia...       1
2         This is my homework for my English class .       0
3  In comparison , Canada is catches increased an...       0
4  Fortunately , my older sister is friend is a d...       1

In [5]:
len(df)

19998

In [6]:
d = pd.read_csv("val_data.csv")
d.head()

                                               input  labels
0                            It was the same thing .       0
1                          I can study idioms a lot        1
2      I just bet some coins for numbers or colors .       0
3  Yesterday , I was checking some e - mails on b...       1
4  I regret that I have not played the piano very...       1

In [7]:
len(d)

10000

In [8]:
dataset['labels']=pd.Series([df['labels'].mean()]*len(df))
dataset

                                                  input  labels
0     I believe they will master Japanese soon becau...     0.5
1                                 I am looking for it .     0.5
2     Apple is a round fruit with smooth and colorfu...     0.5
3                                 Let It Will Be Push .     0.5
4                     I rode on this ship from Sendai .     0.5
...                                                 ...     ...
9967    Lang is growing up and improving step by step !     0.5
9968      I was away from my housework for about days .     0.5
9969                       The conflict is so serious .     0.5
9970  An apple is a round fruit with smooth and colo...     0.5
9971          He is years old and he can barely speak .     0.5

[9972 rows x 2 columns]

In [9]:
dataset['input'].dropna(inplace=True)
dataset['input'] = dataset['input'].fillna('')
tokens = dataset['input'].apply(word_tokenize)
tokens

0       [I, believe, they, will, master, Japanese, soo...
1                            [I, am, looking, for, it, .]
2       [Apple, is, a, round, fruit, with, smooth, and...
3                            [Let, It, Will, Be, Push, .]
4              [I, rode, on, this, ship, from, Sendai, .]
                              ...
9967    [Lang, is, growing, up, and, improving, step, ...
9968    [I, was, away, from, my, housework, for, about...
9969                  [The, conflict, is, so, serious, .]
9970    [An, apple, is, a, round, fruit, with, smooth,...
9971    [He, is, years, old, and, he, can, barely, spe...
Name: input, Length: 9972, dtype: object

In [10]:
grammar_np =r"NP: {<DT>?<JJ>*<NN>}"

In [11]:
chunk_parser = nltk.RegexpParser(grammar_np)
chunk_parser

In [12]:
chunk_result = chunk_parser.parse(tokens)
chunk_result

ValueError: chunk structures must contain tagged tokens or trees

In [ ]:
from textblob import TextBlob
pol = lambda x: TextBlob(x).sentiment.polarity
sub = lambda x: TextBlob(x).sentiment.subjectivity
dataset['polarity'] = dataset['input'].apply(pol)
dataset['subjectivity'] = dataset['input'].apply(sub)
dataset